@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://wallpapers.com/images/high/3440x1440p-background-3440-x-1440-1rp771kxovl6wg9h.webp') 
  no-repeat;
  background-size: cover;
  background-position: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
